Flask==2.3.3
deep-translator==1.11.4
pyttsx3==2.90
pygame==2.5.2
pyOpenSSL==23.2.0
qrcode==7.4.2
Pillow==10.0.0
transformers==4.35.0
torch==2.0.1
sentencepiece==0.1.99
sacremoses==0.0.53
gunicorn==21.2.0
# Nouveaux outils pour Whisper (système de secours pour le micro)
openai-whisper==20231117
ffmpeg-python==0.2.0
librosa==0.10.1
soundfile==0.12.1
numpy==1.24.3
scipy==1.11.4
